/* .alert-enter {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s, transform 0.3s;
}

.alert-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.alert-exit {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.3s;
}

.alert-exit-active {
  opacity: 0;
  transform: translateY(-100%);
} */


.alert {
  opacity: 0; /* Mulai dengan opacity 0 (tidak terlihat) */
  transition: opacity 0.3s; /* Transisi opacity selama 0.3 detik */
  background-color: #f8d7da; /* Warna latar belakang alert */
  padding: 10px;
  border: 1px solid #dc3545;
  border-radius: 4px;
}

.alert.show {
  opacity: 1; /* Ketika class "show" ditambahkan, ubah opacity menjadi 1 (terlihat) */
}
